.App {
  /* text-align: center; */
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #111;
  height: 150px;
  padding: 2em;
  color: white;
  margin-bottom: 2em;
}
.App-title {
  float: right;
}